header{
    text-align: center;
    width:100px;
    margin: 0 auto;
    background-color: black;
    width: 100%;
    height: 15px;
   }

footer{
    position: fixed;
    bottom:0;
    background-color: black;
    width: 100%;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    
}
body{
    margin: 0;
    max-width: 100%;
}

nav{
    padding-top: 10px;
    text-align: center;
    background-color: black;
}
nav :hover {
    background-color: lightgray;
}
div#navleft{
    position: absolute;
    top: 100px;
    left: 30px;
     
}
div#navright{
    position: absolute;
    top:100px;
    right: 30px;
   
}

nav a, nav p{
    display: inline-block;
    padding: 15px;
    margin: 10px; 
    background-color: white;
    font-size: 150%;
    border: 3px solid black;
    width: 100px;
    text-decoration: none;
    
}

section{
    display: none;
    text-align: center;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    background-color: lightgray;  
    text-align: left;
    max-width: 100%;
}

section#huvud{
    display: block;
    text-align: center;
    max-width: 100%;
    margin-bottom: 100px;
    
}

ul{
    text-align: left;
}
a, a:visited{
    color: black;
}
footer a, footer a:visited{
    color: white;
}
h2{
    text-align: center;
}
main{
    display: block;
    max-width: 100%;
}