

html, body {
        background-color: lightgray;
        margin: 0px;
}
body{
    background-color: 
}

header{
    background-color: white;
    margin: 0px;
    padding: 8px;   
    width: 100%;
    min-height: 50px;

}



form{
    text-align: right
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

nav a {
    display:block;
    margin: 10px;
    border: 1px solid black;
    background-color: white;
    padding: 8px 8px;
    width: 10%;
    border-radius: 10px;
    box-shadow: 3px 3px black;
}



main{
    object-position: center;
     
}